@using Microsoft.AspNetCore.Mvc.ViewFeatures
@model Microsoft.AspNetCore.Authentication.DevAuth.Areas.Developer.Controllers.AutoPostModel

@{
    ViewBag.Title = "AutoPost";
}
<h2>@ViewData["Title"].</h2>

<form id="e456bc53-bf12-495c-8660-6ea9ac240525"
      action="@Model.URI"
      method="post" >

    @foreach (var key in Model.FormDictionary.Keys)
    {
        var data = Model.FormDictionary[key];
        <input type="hidden" name="@key" value="@data" />
    }

</form>

<script type="text/javascript">
    function formAutoSubmit() {
        var frm = document.getElementById("e456bc53-bf12-495c-8660-6ea9ac240525");
        frm.submit();
    }
    window.onload = formAutoSubmit;
</script>


