

@{
    ViewData["Title"] = "Riot Page";
}


<div class="container-fluid">
    <h2>Application uses</h2>
    <div id="riot-app"></div>
</div>



@section scripts
{
    <!-- include the tag -->
    <p7-script-cbv src="~/static/p7.main/RiotApp/bundle.js"></p7-script-cbv>
}