@{
    ViewData["Title"] = "About";
}
@using System.Threading.Tasks
@using p7.main.Models
@model IEnumerable<p7.main.Models.ClaimType>
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
@foreach (var claimType in Model)
{
    <div>
        @claimType.Type
        @claimType.Value
    </div>
}